{% extends 'base.html' %}
{% load cart %}
{% load custom_filter %}
{% block content %}
<div class="container">
    <div class="border rounded m-4 p-4">
        <table class="table text-center">
            <div class="display-4">View Your Orders</div>
            <thead>
                <tr>
                    <th>Sl_no.</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                {% for order in orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img style="height: 80px;" src="{{ order.product.image.url }}" class="rounded-circle" alt=""></td>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.date }}</td>
                    <td>{{ order.price|currency }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.quantity|multiply:order.price|currency }}</td>
                    {% if order.status %}
                    <td><small class="badge badge-info">completed</small></td>
                    {% else %}
                    <td><small class="badge badge-warning">pending</small></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}